{% extends "layout.html" %}

{% block title %}
- Delete Account
{% endblock %}

{% block main %}

{% with messages= get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}

{% if "Deleted" in message %}
<div class="alert alert-success" role="alert">
  {{message}}
</div>

{% else %}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endif %}

{% endfor %}
{% endif %}
{% endwith %}

<form method="post" action="/delete_account" >

  <div class="form-group">
      <input autocomplete="off" autofocus class="form-control" name="account" placeholder="Account Number" type="text"/>
  </div>
   
  <button class="btn btn-primary" type="submit">Delete Account</button>
</form>

{% endblock %}