<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

        <title>Capital Bank {% block title %}{% endblock %}</title>

    </head>

    <body>

        {% if session.userno %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
              <img src="/static/images/download.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
              Capital Bank
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
              <a class="nav-link" href="/deposit">Deposit<span class="sr-only">(current)</span></a>
              <a class="nav-link" href="/withdraw">Withdraw</a>
              <a class="nav-link" href="/transactions">Transactions</a>
              <a class="nav-link" href="/loan">Loan</a>
              <a class="nav-link" href="/create_account">Create Account</a>
              <a class="nav-link" href="/details">Details</a>
            </div>

            <div class="navbar-nav ml-auto">
              <a class="nav-link" href="/delete_account">Delete Account</a>
              <a class="nav-link" href="/change_password">Change Password<span class="sr-only">(current)</span></a>
              <a class="nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </nav>
        {% endif %}

        <main class="container p-5">
            {% block main %}

            {% endblock %}
        </main>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


    </body>

</html>